<h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1>
<% if current_user %>

<%= link_to 'Edit Profile', edit_user_registration_path(@current_user) %>

<%= cl_image_tag @current_user.avatar.key %>
<h2>Current Listings</h2>
<% end %>

<% @current_user.property_listings.each do |property| %>
  <%= link_to property_listing_path(property) do %>

    <div class="small-listing-card">

      <div class="listing-image" style="background-image: url('<%= cl_image_path property.image.key %>')"></div>
      <div class="card-content">
        <div class="card-title"><%= property.title %></div>
        <div>$<%= property.listing_price.to_i %></div>
        <div><i class="fas fa-map-marker-alt"></i> <%= property.location %></div>
      </div>
    </div>

  <% end %>
<% end %>
