<h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1>
<% if current_user %>

<%= link_to 'Edit Profile', edit_user_registration_path(@current_user), class: 'btn btn-warning mb-3' %><br />
<%= cl_image_tag @current_user.avatar.key, class: 'user-image mb-5' %>

<!-- <hr> -->
<!-- <h2>Offers Given</h2> -->

<!-- <table class='offers-table'>
  <tr>
    <th>Property</th>
    <th>Offer Amount</th>
    <th>Status</th>
  </tr>
  <#% @current_user.offers.each do |offer| %>
    <tr>
      <td><%#= link_to offer.property_listing.title, offer_path(offer) %></td>
      <td><%#= offer.offer_amount %></td>
      <td><span class="status-<%#= offer.status %>"> <%#= offer.status %></span></td>
    </tr>
  <%# end %>
</table> -->

<hr>
<h2>Offers Received</h2>

  <table class='offers-table'>
    <tr>
      <th>Property</th>
      <th>Offer Amount</th>
      <th>Status</th>
    </tr>
    <% @current_user.property_listings.each do |property| %>
      <% property.offers.each do |offer| %>
        <tr class='offer-row'>
          <td><%= link_to offer.property_listing.title, offer_path(offer) %></td>
          <td><%= offer.offer_amount %></td>
          <td><span class="status-<%= offer.status %>"> <%= offer.status %></span></td>
        </tr>
      <% end %>
    <% end %>
  </table>

<hr>
<h2>Current Listings</h2>
<% end %>

<% @current_user.property_listings.each do |property| %>
  <%= link_to property_listing_path(property) do %>

    <div class="small-listing-card">

      <div class="listing-image" style="background-image: url('<%= cl_image_path property.image.key %>')"></div>
      <div class="card-content">
        <div class="card-title"><%= property.title %></div>
        <div>$<%= property.listing_price.to_i %></div>
        <div><i class="fas fa-map-marker-alt"></i> <%= property.location %></div>
      </div>
    </div>

  <% end %>
<% end %>
