<div class="banner">
  <div class="container">
    <h1>Property Finder brings <strong>hassle free</strong> property buying <strong>to people of UAE</strong>!</h1>

    <p><b>Find Your Dream House Now!</b></p>

    <%#= link_to "Login", new_user_session_path, class: "btn btn-secondary btn-lg" %>
  </div>
</div>


<div class="container pt-3">

  <div class="square-cards">
    <% @listings.each do |listing| %>
      <!-- card -->
      <%= link_to property_listing_path(listing), class: "square-card-link" do %>
        <div class="square-card">
          <%= cl_image_tag listing.image.key %>
          <div class="card-text-information">
            <h2><%= truncate(listing.title, length: 60) %></h2>
            <p class="card-price"><%= number_with_delimiter(listing.listing_price.to_i) %> AED</p>
            <div class="card-key-information">
              <div>
                <i class="fas fa-street-view mr-3"></i>
                <p class="card-location">
                  <%= listing.location %>
                </p>
              </div>
              <div>
                <i class="far fa-calendar-alt"></i>
                <p>
                  <%= listing.year_built %>
                </p>
              </div>
              <div>
                <i class="fas fa-sink"></i>
                <p>
                  <%= listing.number_of_bathrooms %>
                </p>
              </div>
              <div>
                <i class="fas fa-bed"></i>
                <p>
                  <%= listing.number_of_bedrooms %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


