<div class="horizontal-cards">
  <% @listings.each do |listing| %>
    <!-- card -->
    <div class="horizontal-card">
      <div class="property-image" style="background-image: url('<%= cl_image_path listing.image.key %>')">
      </div>
      <%#= cl_image_tag listing.image.key %>
      <div class="card-text-information">
        <h2><%= listing.title %></h2>
        <p><%= listing.description %></p>
        <p class="card-price"><%= listing.listing_price.to_i %> AED</p>
        <div class="card-key-information">
          <div>
            <i class="fas fa-street-view mr-3"></i>
            <p class="card-location">
              <%= listing.location %>
            </p>
          </div>
          <div>
            <i class="far fa-calendar-alt"></i>
            <p>
              <%= listing.year_built %>
            </p>
          </div>
          <div>
            <i class="fas fa-sink"></i>
            <p>
              <%= listing.number_of_bathrooms %>
            </p>
          </div>
          <div>
            <i class="fas fa-bed"></i>
            <p>
              <%= listing.number_of_bedrooms %>
            </p>
          </div>
        </div>
        <%= link_to property_listing_path(listing), class: "horizontal-card-arrow" do %>
          <i class="fas fa-arrow-circle-right"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
