<div
  class="show-img"
  style="
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path @property.image.key %>')">

    <% if @property.user == current_user %>
      <%= link_to 'Edit Listing', edit_property_listing_path, class: 'btn btn-warning mt-3 ml-3' %>
    <% end %>
</div>

<%= link_to '< Go Back', 'javascript:history.back()', class: 'btn btn-outline-primary mt-3' %>

<% if @property.user != current_user %>
  <%= link_to 'Make An Offer', new_property_listing_offer_path(@property), class: 'btn btn-primary mt-3' %>
<% end %>


  <% if notice.present? %>
    <p class="notice py-3 mt-3 text-center"><%= notice %></p>
  <% end %>

<div class="container pt-3">
  <h1><%= @property.title %></h1>

  <p><%= @property.sub_title %></p>
  <p><%= "Seller: #{@property.user.first_name} #{@property.user.last_name}"%></p>

  <div class="my-2-col-grid">

    <div class="details">
      <p><i class="fas fa-building"></i> Property Type: <%= @property.property_type %></p>
      <p><i class="fas fa-bed"></i> <%= @property.number_of_bedrooms %></p>
      <p><i class="fas fa-bath"></i> <%= @property.number_of_bathrooms %></p>
      <p><i class="fas fa-ruler"></i> <%= @property.property_size %> </p>
      <p><i class="fas fa-car"></i> <%= @property.number_of_parking_spaces %> </p>
    </div>

    <div class="price">
      <p><i class="fas fa-dollar-sign"></i> <%= @property.listing_price %></p>
    </div>
  </div>

  <hr>


  <h2> Description</h2>

  <p><%= @property.description %></p>

  <hr>

  <div class="my-2-col-grid">
    <div class="amenities">
      <h2>Amenities</h2>
    </div>
    <div class="location">
      <h2>Location</h2>
      <div> <%= @property.location %> </div>
      <div id="map"
         style="width: 400px; height: 200px;"
         data-markers="<%= @marker.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="d-flex">long. <%= @property.longitude %> lat. <%= @property.latitude %></div>

    </div>
  </div>

  <hr>
  <h2>Properties Close By</h2>

  <div class="grid-3-col mt-3">
    <% @listings.each do |property| %>
      <%= link_to property_listing_path(property) do %>
        <div class="card-sm-sq">
          <div class="card-image" style="background-image: url('<%= cl_image_path property.image.key %>')"></div>
          <div class="card-content">
            <%= property.title %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
